<% provide :title, "users of croakr" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= will_paginate %>
    <ul class="list-group">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>