<% provide :title, "welcome" %>
<div class="jumbotron text-center">
  <h1>welcome!</h1>
  <p>this is croakr, a free and simple microblogging system. happy croaking!</p>
  <%= link_to "sign up!", signup_path, class: 'btn btn-lg btn-primary' %>
</div>