<li id="croak-<%= croak.id %>">
  <span class="user"><%= link_to croak.user.name, croak.user %></span>
  <span class="content"><%= croak.content %></span>
  <span class="timestamp text-muted"><%= time_ago_in_words(croak.created_at) %> ago</span>
</li>