<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-3">
    <section class="sidebar">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
    </section>
  </aside>
  <div class="col-md-6">
    <h2>croaks</h2>
    <% if @user.croaks.any? %>
      <%= will_paginate @croaks %>
      <ol class="croaks">
        <%= render @croaks %>
      </ol>
    <% else %>
      <p>this user hasn't croaked yet!</p>
    <% end %>
  </div>
</div>