<% provide :title, "sign up" %>
<% provide :button_text, "create my account" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>sign up</h1>
    <br>
    <%= render 'form' %>
  </div>
</div>